
body {
    margin: 0;
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    width: 360px;
    height: 640px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.screen {
    width: 100%;
    height: 100%;
}

.header {
    height: 60px;
    background-color: #0088cc;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.chat {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.avatar {
    width: 45px;
    height: 45px;
    background-color: #0088cc;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 10px;
}

.chat-name {
    font-weight: bold;
    margin-bottom: 5px;

}

.chat-message {
    font-size: 14px;
    color: #666;
}

.chat-screen {
    background-color: #e5ddd5;
}

.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 70%;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
}

.received {
    background-color: white;
    align-self: flex-start;
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.input-bar {
    height: 50px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #999;
    font-size: 14px;
}
.chat-name a {
  color: black;
  text-decoration: none;
}

.chat-name a:hover {
  color: black;
  text-decoration: none;
}